.header {
  width: 100%;
  height: 80px;
  background-color: #fff;
}

.main-nav {
  display: flex;
 justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}

.site-nav{
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
/* flex-direction: column; */
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;


align-items: center;
letter-spacing: -0.02em;
}


.nav-list{
  margin-right: 24px;
}

.name {
  display: flex;
 flex-wrap: nowrap;

 font-family: 'Montserrat';
font-style: italic;
font-weight: 700;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */

letter-spacing: -0.03em;
}

.chocolate {
  display: flex;
  margin-left: 24px;
  
  stroke: rgba(253, 146, 34, 1);
 fill: #fff;
 stroke-width: 2px;
}


.icon:not(:last-child) {
  margin-right: 18px;
}

.twitter{
  color: black;
}

.networks{
  display: flex;
  
}

.logo {

  width: 185px;
height: 20px;
  font-family: 'Montserrat';
font-style: italic;
font-weight: 700;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */

letter-spacing: -0.03em;

color: #111111;
}
.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;   
  max-width: 1175px;
}

.simple {
  display: flex;
 
}