.box {
  border-radius: 15px;
}

.how-made {
  padding-bottom: 72px;
}

.how-made-heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--elipse-b);
  text-transform: uppercase;
  text-align: center;

  padding-bottom: 32px;
}

.how-made-heading > span {
  color: var(--buy-now);
}

.how-made-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.how-made-video-wrap {
  position: relative;

  width: 100%;
  max-width: 335px;
  height: 500px;

  background-color: var(--elipse-b);
}

.how-made-poster {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* background-color: #000; */
}

.how-made-video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.how-made-video-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--button-text);
}

.how-made-video-link:hover {
  color: var(--buy-now);
}

.how-made-icon {
  width: 32px;
  height: 32px;
  fill: var(--button-text);
  /* fill: currentColor; */
  /* stroke: currentColor; */
}

.how-made-recipe-wrap {
  width: 100%;
  max-width: 335px;

  padding: 20px 14px;
  background-color: var(--button-text);
}

.how-made-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;

  color: var(--elipse-b);

  padding-bottom: 20px;
}

.how-made-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  left: 16px;
  top: 0px;
}

.how-made-item {
  position: relative;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;

  color: var(--elipse-b);

  margin-left: 16px;
}

.how-made-item::before {
  content: ' ';
  position: absolute;
  top: 5px;
  left: -16px;
  width: 8px;
  height: 8px;

  background: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 50%;

  margin-right: 8px;
}

/* Mobile Styles */
@media screen and (min-width: 375px) {
  .how-made > .container {
    max-width: 335px;
  }
}

/* Tablet Styles */
@media screen and (min-width: 768px) {
  .how-made > .container {
    max-width: 614px;
  }

  .how-made-video-wrap {
    max-width: 614px;
    height: 400px;
  }

  .how-made-recipe-wrap {
    max-width: 614px;
    height: 356px;
  }

  .how-made-icon {
    width: 44px;
    height: 44px;
  }
}

/* Desktop Styles */
@media screen and (min-width: 1200px) {
  .how-made > .container {
    max-width: 1136px;
  }

  .how-made-wrap {
    flex-direction: row;
  }

  .how-made-video-wrap {
    max-width: 600px;
    height: 400px;
  }
  .how-made-recipe-wrap {
    max-width: 516px;
    height: 400px;
  }
}
