/* For common.css */
/* Hidden header pattern */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* ------------------------ */
.box {
  border-radius: 15px;
}
/* ------------------------ */

/* Section HOW IT'S MADE? */
.how-made {
  padding-bottom: 72px;
}

.how-made-heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--elipse-b);
  text-transform: uppercase;
  text-align: center;

  padding-bottom: 32px;
}

.how-made-heading > span {
  color: var(--buy-now);
}

.how-made-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.how-made-video-wrap {
  position: relative;

  width: 100%;
  height: 100%;

  background-color: var(--elipse-b);
}

.how-made-poster {
  position: relative;

  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.how-made-video {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}

.how-made-video-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--button-text);
}

.how-made-icon {
  width: 35px;
  height: 35px;
  stroke: currentColor;
  fill: transparent;
}

.how-made-video-link:hover .how-made-icon {
  stroke: var(--buy-now);
}

/* .how-made-video-link:active .how-made-icon {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
} */

.how-made-recipe-wrap {
  width: 100%;

  padding: 20px 14px;
  background-color: var(--button-text);
}

.how-made-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;

  color: var(--elipse-b);

  padding-bottom: 20px;
}

.how-made-list {
  display: flex;
  flex-direction: column;
  gap: 18px;

  top: 0px;
  left: 16px;
}

.how-made-item {
  position: relative;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;

  color: var(--elipse-b);

  margin-left: 16px;
}

.how-made-item::before {
  content: ' ';
  position: absolute;
  top: 5px;
  left: -16px;
  width: 8px;
  height: 8px;

  background: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 50%;

  margin-right: 8px;
}

/* Mobile Styles */
@media screen and (min-width: 375px) {
  .how-made > .container {
    width: 335px;
  }
}

/* Tablet Styles */
@media screen and (min-width: 768px) {
  .how-made > .container {
    width: 614px;
  }

  .how-made-video-wrap {
    /* max-width: 614px; */
    height: 400px;
  }

  .how-made-recipe-wrap {
    /* max-width: 614px; */
    height: 356px;
  }

  .how-made-icon {
    width: 44px;
    height: 44px;
  }
}

/* Desktop Styles */
@media screen and (min-width: 1200px) {
  .how-made > .container {
    width: 1136px;
  }

  .how-made-wrap {
    flex-direction: row;
  }

  .how-made-video-wrap {
    width: 600px;
    /* height: 400px; */
  }
  .how-made-recipe-wrap {
    width: 516px;
    height: 400px;
  }
}
