.reviews-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--elipse-b);
  margin-bottom: 74px;
}

.reviews-title span {
  color: var(--buy-now);
}

.reviews-list {
  display: flex;
  column-gap: 16px;
  row-gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 65px;
}

.review-card {
  width: 100%;
  padding: 56px 18px 42px 18px;
  background: var(--button-text);
  border: 1px solid var(--sliders);
  box-shadow: 0px 9.04932px 26.5717px var(-shadow);
  border-radius: 15px;
  position: relative;
}

.review-author {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: var(--elipse-b);
  margin-bottom: 24px;
}

.review-text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--reviews-text);
}

.review-img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

@media screen and (min-width: 380px) {
  .review-card {
    max-width: 335px;
  }

  .reviews-section > .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .reviews-section > .container {
    width: 744px;
  }
  .review-card {
    max-width: 344px;
  }

  .reviews-title {
    margin-bottom: 91px;
  }

  .reviews-list {
    margin-bottom: 95px;
  }
}

@media screen and (min-width: 1200px) {
  .reviews-section > .container {
    width: 1176px;
  }

  .review-card {
    max-width: 360px;
  }

  .reviews-list {
    column-gap: 28px;
  }
}

.review-btn {
  display: block;
  width: 222px;
  height: 50px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: var(--elipse-b);
  background-color: transparent;
  border: 1px solid var(--buy-now);
  border-radius: 100px;
  margin: 0 auto;
  transition: background-color 250ms var(--cubic-bezier),
    color 250ms var(--cubic-bezier);
}

.review-btn:is(:hover, :focus) {
  background-color: var(--buy-now);
  color: var(--button-text);
}
