.reviews-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--elipse-b);

  margin-bottom: 74px;
  margin-top: 32px;
}

.reviews-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 42px;
  column-gap: 20px;
}

.reviews-title span {
  color: var(--buy-now);
}

.review-card {
  width: 100%;
  padding: 56px 18px 42px 18px;

  background: #ffffff;
  border: 1px solid var(--sliders);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
  position: relative;
}

.review-author {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: var(--elipse-b);

  margin-bottom: 24px;
}

.review-text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--reviews-text);
}

.review-img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

@media screen and (min-width: 380px) {
  .review-card {
    max-width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .reviews-section > .container {
    max-width: 744px;
  }
  .review-card {
    max-width: 340px;
  }
}

@media screen and (min-width: 1200px) {
  .reviews-section > .container {
    max-width: 1176px;
  }

  .review-card {
    max-width: 360px;
  }
}
