<section>
    <h1>IT ALL ADDS UP TO ONE EXCEPTIONAL TASTE SENSATION</h1>
    <p>
      At Simply Chocolate, we believe that the secret to exceptional chocolate is
      in the details. From the sourcing of the finest ingredients to the careful
      crafting of each individual piece, every step of our process adds up to one
      exceptional taste sensation.
    </p>
    <ul>
      <li>
          <img src="../img/kisspng-milk-white-chocolate-1.png" alt="chocolate-photo">
          <h4>MILK CHOHOLATE</h4>
      </li>
      <li>
          <img src="../img/kisspng-milk-white-chocolate- 2.png" alt="milk-photo">
          <h4>MILK</h4>
      </li>
      <li>
          <img src="../img/kisspng-milk-white-chocolate-4.png" alt="nuts-photo">
          <h4>NUTS</h4>
      </li>
      <li>
          <img src="../img/kisspng-milk-white-chocolate-3.png" alt="cofee-photo">
          <h4>SEMI-SWEET CHOCOLATE</h4>
      </li>
    </ul>
</section>