<footer class="footer">
		<div class="container footer-section">
		  <div class="footer-section-up">
			<div class="footer-content">
			  <a href="./index.html" class="logo link"
				><span class="accent">Chocolate</span
				><span class="accent-footer">is delicous cure for a bad day</span>
				</a>
			</div>
				<li class="footer-list-item">
					Home
				  <a class="footer-link" href=""  >
				  </a>
				</li>
				<li class="footer-list-item">
					How it's made?
				  <a class="footer-link" href="">
				  </a>
				</li>
				<li class="footer-list-item">
					Our products
				  <a class="footer-link" href="">
				  </a>
				</li>
				<li class="footer-list-item">
					Top sellers
				  <a class="footer-link" href="">
				  </a>
				</li>
				<li class="footer-list-item">
					Chocolate is loved
				  <a class="footer-link" href=""  >
				  </a>
				</li>
			  </ul>
			</div>
			<p>
				Contact us
			</p>
			<li class="contacts">
				<a href="tel:+684439426" class="phone link"
				  >+380 (68) 443-94-26</a>
			  </li>
			<address class="address">
				  <li class="contacts">
					<a href="mailto:simplychoc@gmil.com" class="letter link">
						simplychoc@gmil.com</a>
						</li>
						<svg width="24" height="24">
							<use href="/src/img/icons.svg#icon-chocolate"></use>
						</svg>
                        <svg width="24" height="24">
							<use href="/src/img/icons.svg#icon-twitter"></use>
						</svg>
		</div>
	  </footer>