<footer class="footer">
    <div class="main-footer">
        <h1 class="logo-text">
        <span class="name">Chocolate</span> a delicious <br/>cure for a bad day
        </h1>
        <div class="contacts">
        <ul class="contact-list">
        <p class="contact-us">Contact us</p>
            <li class="contacts-link">
        <a href="tel:+684439426" class="phone link">+380 (68) 443-94-26</a></li>
        <address class="address">
            <li class="contacts-link-mail">
        <a href="mailto:simplychoc@gmil.com" class="letter link">simplychoc@gmail.com</a></li>
        </ul>
        </div>
        <div class="icons">
        <svg class="icon" width="24" height="24">
            <use href="./img/icons.svg#icon-instagram"></use>
        </svg>
        <svg class="icon" width="24" height="24">
            <use href="./img/icons.svg#icon-twitter"></use>
        </svg>
        </div>
    </div>
        <div class="footer-bottom">
     <ul class="nav-footer">
        <li class="nav-list"><a href="./header.html">Home</a></li>
        <li class="nav-list"><a href="./how-made.html">How it's made?</a></li>
        <li class="nav-list"><a href="./products.html">Our products</a></li>
        <li class="nav-list"><a href="./top.html">Top sellers</a></li>
        <li class="nav-list"><a href="./hero.html">Chocolate is loved</a></li>
     </ul>
        </div>
</footer>

