<header class="header">
  <nav class="main-nav">
    <a href="./index.html">
      <h1 class="name">SYMPLY CHOCOLATE</h1>
    </a>

    <Svg class="chocolate" width="24px" height="24px">
      <use href="./img/icons.svg#icon-chocolate"></use>
    </Svg>
   
    <ul class="site-nav">
      <li class="nav-list"><a href="">Home</a></li>
      <li class="nav-list"><a href="">How it’s made?</a></li>
      <li class="nav-list"><a href="">Our products</a></li>
      <li class="nav-list"><a href="">Top sellers</a></li>
      <li class="nav-list"><a href="">Chocolate is loved</a></li>

    </ul>
    <ul class="socials">
      <li class="social-links">
        <Svg class="icon" width="24px" height="24px">
        <use href="./img/icons.svg#icon-instagram"></use>
      </Svg></li>
      <li class="social-links">
        <Svg class="icon" width="24px" height="24px">
        <use href="./img/icons.svg#icon-twitter"></use>
      </Svg></li>
    </ul>
 
  </nav>
</header>