<header class="header">
<div class="main-header">
  <nav class="nav-header">
    <a href="./index.html" class="logo link">
       <h1 class="name">SIMPLY CHOCOLATE</h1>
      </a>
        <svg class="icon" width="24" height="24">
          <use href="/src/img/icons.svg#icon-chocolate"></use>
        </svg>
    <ul class="site-nav list">
      <li class="nav-list">
        <a href="./top.html" class="nav-list">Home</a>
      </li>
      <li>
        <a href="./how-it’s-made.html" class="nav-list">How it’s made?</a>
      </li>

      <li>
        <a href="./products.html" class="nav-list">Our products</a>
      </li>

      <li>
        <a href="./top.html" class="nav-list">Top sellers</a>
      </li>

      <li>
        <a href="" class="nav-list">Chocolate is loved</a>
      </li>
    </ul>
  
    <svg class="icon" width="24" height="24">
      <use href="/src/img/icons.svg#icon-instagram"></use>
    </svg>

    <svg class="icon" width="24" height="24">
      <use href="/src/img/icons.svg#icon-twitter"></use>
    </svg>
  </nav>
<div>
</header>