<header class="header">
  <nav class="main-nav">
    <div class="name">
      <a href="./index.html">
        <h1 class="logo">SIMPLY CHOCOLATE</h1>
      </a>
    </div>

    <svg class="chocolate" width="24px" height="24px">
      <use href="./img/icons.svg#icon-favicon"></use>
    </svg>

    <ul class="site-nav">
      <li class="nav-list"><a href="">Home</a></li>
      <li class="nav-list"><a href="">How it’s made?</a></li>
      <li class="nav-list"><a href="">Our products</a></li>
      <li class="nav-list"><a href="">Top sellers</a></li>
      <li class="nav-list"><a href="">Chocolate is loved</a></li>
    </ul>

    <div class="networks">
      <svg class="icon" width="24px" height="24px">
        <use href="./img/icons.svg#icon-instagram"></use>
      </svg>

      <svg class="icon twitter" width="24px" height="24px">
        <use href="./img/icons.svg#icon-twitter"></use>
      </svg>
    </div>
  </nav>
</header>
