<section class="hero section">
  <div class="container hero-wrap">
    <h1 class="hero-header">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h1>
    <ul class="hero-buttons">
      <li class="buttons-item">
        <a class="button-buy-now" href="#products">Buy now</a>
      </li>
      <li class="buttons-item">
        <a class="button-how-made" href="#how-made">How it’s made</a>
      </li>
    </ul>
    <a class="scroll-button" href="#advantages">scroll down</a>
  </div>
</section>