<section class="hero section">
  <div class="container hero-wrap">
    <h1 class="hero-header">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h1>
    <ul class="list hero-buttons">
      <li class="buttons-item">
        <a href="#products">Buy now</a>
      </li>
      <li class="buttons-item">
        <a href="#how-made">How it’s made</a>
      </li>
      <a class="scroll-button" href="#advantages">scroll down</a>
    </ul>
  </div>
</section>
