<section>
  <h2 class="reviews-header">chocolate is loved</h2>
  <ul class="list reviews-list">
    <li class="reviews-card">
      <img class="no-gap" src="" srcset="" alt="" width="80" />
      <div class="reviews-card-wrap">
        <h3 class="reviews-item">Victoria Dobrzhanska</h3>
        <p class="reviews-text">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </div>
    </li>
    <li class="reviews-card">
      <img class="no-gap" src="" srcset="" alt="" width="80" />
      <div class="reviews-card-wrap">
        <h3 class="reviews-item">Nazar Babenko</h3>
        <p class="reviews-text">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </div>
    </li>
    <li class="reviews-card">
      <img class="no-gap" src="" srcset="" alt="" width="80" />
      <div class="reviews-card-wrap">
        <h3 class="reviews-item">Olena Kampusch</h3>
        <p class="reviews-text">
          Chocolate is a family favorite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </div>
    </li>
    <button type="button">Leave a review</button>
  </ul>
</section>
