<section class="section-top">
<div class="container"><H2 class="titel-top"> <span>TOP</span> SELLERS</H2>
<ul class="top-list">
    <li class="top-img"><img src="./img/img02-368.jpg" alt="choclate"  style="width: 344; height: 464;"></li>
    <li class="top-text">
        <p>Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around
            for
            thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
    </li>
    <li class="top-img"><img src="./img/img01-344.jpg" style="height: 464; width: 344;" alt="choclate with nuts"></li>
    <li class="top-img none"><img src="./img/img1-368.jpg" alt="choclates"></li>
</ul>
<div class="button-text-top"><p class="text-none">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has
    been around
    for
    thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
<button type="button" class="top-button">Buy now</button></div></div>
</section>