<section class="section-top">
<H2 class="titel-top"> <span>TOP</span> SELLERS</H2>
<ul class="top-list">
    <li class="top-img"><img src="./img/img02.jpg" alt="choclate"></li>
    <li class="top-text"><p>Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for
    thousands of years and was first discovered by the Native American tribe called the Mayans.</p></li>
    <li class="top-img"><img src="./img/img01.jpg" alt="choclate with nuts"></li>
</ul>
<button type="button" class="top-button">Buy now</button>
</section>