/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

/*     utils     */

@import url('./utils/varibles.css');

/*    base      */

@import url('./base/reset.css');
@import url('./base/common.css');


/*     components     */

@import url('./components/container.css');
@import url('./components/button.css');

/*    modal    */
@import url('./modal/main-m.css');
@import url('./modal/buy-now.css');
@import url('./modal/thank-you.css');
@import url('./modal/leave-review.css');
@import url('./modal/feedback.css');
@import url('./modal/explore.css');


 /*     layout        */


@import url('./layout/header.css');
@import url('./layout/hero.css');
@import url('./layout/advantages.css');
@import url('./layout/components.css');
@import url('./layout/how-made.css');
@import url('./layout/products.css');
@import url('./layout/top.css');
@import url('./layout/reviews.css');
@import url('./layout/subscribe.css');
@import url('./layout/footer.css');





:root {
  --buy-now: #FD9222;
  --buy-now-hover: #FCF1E0;
  --how-made: #1E1823;
  --button-background: #FAFAFA;
  --button-text: #FFFFFF;
  --elipse-b: #111111;
  --elipse-tf: #1E1823;
  --sliders: rgba(17, 17, 17, 0.1);
  --reviews-text: rgba(17, 17, 17, 0.7);
  --advantages-text: rgba(255, 255, 255, 0.7);
  --ul: #4C4C4C;
  --ul-color: #ECEDED;
  --border: rgba(255, 255, 255, 0.5);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
